.nav-wrapper {
  background: linear-gradient(to right, #0575e6, #20e3b2);
}

.nav-wrapper img {
  display: inline-block;
  width: 40px;
  margin-left: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("./images/signed-out-home.jpg");
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}
