body {
  display: flex;
  flex-direction: column;
  background-image: url("./images/signed-out-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background: linear-gradient(
    to right,
    rgba(5, 117, 230, 1),
    rgba(32, 227, 178, 1)
  );
}

.section {
  background-color: #fff;
  margin-bottom: 1rem;
}

.nav-wrapper img {
  display: inline-block;
  width: 40px;
  margin-left: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.onboarding .row {
  margin-bottom: 0;
}

#AuthForm {
  background-color: #fff;
  padding: 2.75rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#auth-card {
  margin-top: 0;
  margin-bottom: 0;
}

.truncate > img {
  width: 180px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#loginBtn,
#registerBtn {
  border-radius: 0px;
}

#loginBtn:disabled,
#registerBtn:disabled {
  background-color: #fff !important;
}
